
    $text-main:#E8CFAE;
    $text-dark:#E6C8A3;
    $text-light:#E0C0A0;

/*Background do site
Cards
Seções institucionais
*/

    $back-main:#111111;
    $back-dark:#0E0E0E;
    $back-light:#1A1A1A;
/*
Logo
Títulos
Texto forte
*/
    $button-main:#F2B705;
    $button-dark:#E8B12D;
    $button-light:#C79A1B;

/*    Destaques
Botões
Ícones
Premium badge
*/
    $hover-main:#E8CFAE;
    $hover-dark:#E6C8A3;
    $hover-light:#E0C0A0;

/*   Gradientes
Hover dourado
Bordas de destaque
*/

    $shadow-main:rgba(0, 0, 0, 0.3);
    $shadow-dark:rgba(0, 0, 0, 0.4);
    $shadow-light:rgba(0, 0, 0, 0.5);

    $main-white:#FFFFFF
Site claro
Logo invertido
Cartões