@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #E5E5E5;
}

.header {
  background-color: #0B0B0B;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #E5E5E5;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 75px;
}
.header-content a {
  text-decoration: none;
  color: #E5E5E5;
  padding: 7px;
}

.logo {
  color: #D4AF37;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}
.logo p {
  color: #E5E5E5;
  font-size: 10px;
  font-style: italic;
}

.menu a {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}
.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #B8962E, #E0C15A);
  transition: width 1.3s ease;
}
.menu a:hover::after {
  width: 100%;
}
.menu a:hover {
  color: #D4AF37;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-btn button {
  border: 0;
  background-color: #0B0B0B;
}

.img {
  width: 25px; /* ou o tamanho que você quiser */
  height: 25px;
  display: block; /* Remove espaços extras */
}

.img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.hero {
  height: 50vh;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 200%;
  background-color: #1A1A1A;
}
.hero button {
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #D4AF37;
  background-color: #0B0B0B;
  color: #E5E5E5;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero button:hover {
  background-color: #D4AF37;
  color: #0B0B0B;
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.hero-p {
  color: #E5E5E5;
  font-size: 20px;
  padding-bottom: 15px;
}

.fort {
  border: 2px solid #D4AF37;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  color: #D4AF37;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 10px;
}

.h2-1 {
  color: #FFFFFF;
  font-size: 3rem;
  padding-bottom: 15px;
  padding: 15px;
}

.h2-2 {
  color: #D4AF37;
  font-size: 3rem;
  padding-bottom: 15px;
  padding: 15px;
  font-family: "Cormorant Garamond", serif;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  font-family: "Cormorant Garamond", serif;
}

.filter-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}
.filter-category button {
  border: 0;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  gap: 5px;
  height: 35px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.filter-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  width: 250px;
}/*# sourceMappingURL=style.css.map */