@import './partials/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: $white-soft;
}

.header {
    background-color: $black-primary;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 75px;
    
    a {
        text-decoration: none;
        color: $white-soft;
        padding: 7px;

    }
}

.logo {
    color: $gold-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    p {
        color: $white-soft;
        font-size: 10px;
        font-style: italic;
    }
}

.menu {
    a {
        position: relative;
        text-decoration: none;
        padding-bottom: 5px;
        transition: color 0.3s ease;
    }
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background: linear-gradient(90deg, $gold-dark, $gold-soft);
        transition: width 1.3s ease;
    }
    a:hover::after {
        width: 100%;
    }
    a:hover {
        color: $gold-primary;
    }
}

.header-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    button {
        border: 0;
        background-color: $black-primary;
    }
}

.img {
    width: 20px;  /* ou o tamanho que você quiser */
    height: 20px;
    display: block; /* Remove espaços extras */
}

.img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.hero {
    height: 50vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 200%;
    background-color:  $black-soft;
    button {
        font-size: 18px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid $gold-primary;
        background-color: $black-primary;
        color: $white-soft;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    button:hover {
        background-color: $gold-primary;
        color: $black-primary;
        transform: scale(1.2);
        transition: all 0.5s ease;
    }
}
.hero-p {
    color: $white-soft;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.fort {
    border: 2px solid $gold-primary;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    color: $gold-primary;
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    padding-bottom: 10px;
}

.h2-1 {
        color: $white-primary;
        font-size: 3rem;
        padding-bottom: 15px;
        padding: 15px;
    }

.h2-2 {
    color: $gold-primary;
    font-size: 3rem;
    padding-bottom: 15px;
    padding: 15px;
    font-family: "Cormorant Garamond", serif;
}

