@import './partials/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: $white-soft;
}

.header {
    background-color: $black-primary;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 75px;
    
    a {
        text-decoration: none;
        color: $white-soft;
        padding: 7px;

    }
}

.logo {
    color: $gold-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    p {
        color: $white-soft;
        font-size: 10px;
        font-style: italic;
    }
}

.header-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    button {
        border: 0;
        background-color: $black-primary;
    }
}

.img {
    width: 20px;  /* ou o tamanho que você quiser */
    height: 20px;
    display: block; /* Remove espaços extras */
}