
$gold-primary: #D4AF37;
$gold-soft: #E0C15A;
$gold-dark: #B8962E;

$white-primary: #FFFFFF;
$white-soft: #E5E5E5;
$gray-light: #B5B5B5;

$accent-dot: #F5D76E;

$black-primary : #0B0B0B;
$black-secondary: #121212;
$black-soft: #1A1A1A;
